* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: Georgia, serif;
  font-size: 16px;
  background-color: #eee;
  color: #333;
  display: flex;
  flex-flow: 0 1 auto;
  justify-content:auto;
  align-content:0;
  align-items:auto;

}
